### Build Year Preprocessing

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

what = pd.read_excel('../Data/행정법정.xlsx')
what

            행정동코드      시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0      1100000000    서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1      1111000000    서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2      1111051500    서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3      1111051500    서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4      1111051500    서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN
...           ...      ...  ...    ...         ...    ...       ...   ...
21773  5183035000  강원특별자치도  양양군    강현면  5183035038    장산리  20230611   NaN
21774  5183035000  강원특별자치도  양양군    강현면  5183035039    전진리  20230611   NaN
21775  5183035000  강원특별자치도  양양군    강현면  5183035040    주청리  20230611   NaN
21776  5183035000  강원특별자치도  양양군    강현면  5183035041    적은리  20230611   NaN
21777  5183035000  강원특별자치도  양양군    강현면  5183035042    물갑리  20230611   NaN

[21778 rows x 8 columns]

In [5]:
what['행정동'] = what['시군구명'].astype(str) + what['동리명']
what['법정동'] = what['시군구명'].astype(str) + what['읍면동명']

In [6]:
change = pd.DataFrame(what['법정동'].values, index = what.행정동)

In [7]:
year = pd.read_csv('../Data/build_year.csv', index_col = 0)
year

             apt_buy      mth_buy     apt_rent     mth_rent
시군구
강남구개포동   2003.478992  2006.438356  2005.165748  2007.690423
강남구논현동   1999.767857  2006.775000  2002.893519  2009.609842
강남구대치동   1990.513043  2001.800000  1992.978500  2005.928161
강남구도곡동   2001.142336  2010.307692  1998.498895  2005.961538
강남구삼성동   2005.563830  2004.365854  2003.755047  2002.778351
...              ...          ...          ...          ...
종로구누하동           NaN          NaN          NaN  2015.000000
종로구명륜4가          NaN          NaN          NaN  2013.500000
종로구체부동           NaN          NaN          NaN  1997.333333
중구광희동2가          NaN          NaN          NaN  2014.444444
중구필동2가           NaN          NaN          NaN  2018.000000

[370 rows x 4 columns]

In [8]:
temp = change.iloc[2:].loc[year.index]

In [9]:
temp

                0
시군구
강남구개포동    강남구개포1동
강남구개포동    강남구개포2동
강남구개포동    강남구개포3동
강남구개포동    강남구개포4동
강남구논현동    강남구논현1동
...           ...
종로구누하동   종로구청운효자동
종로구명륜4가    종로구혜화동
종로구체부동     종로구사직동
중구광희동2가     중구광희동
중구필동2가       중구필동

[638 rows x 1 columns]

In [15]:
year['mean'] = year.mean(axis = 1)

In [10]:
temp['spread'] = np.nan

In [16]:
for i in year.index :
    temp.loc[i, 'spread'] = year.loc[i, 'mean']

In [18]:
temp.columns = ['region', 'build_year']

In [20]:
temp['year'] = 2023 - temp['build_year']

In [22]:
# temp.to_csv('../Data/built_year.csv')