### 서울시 범죄율 데이터

In [1]:
import pandas as pd
import numpy as np

In [3]:
robbery = pd.read_excel('../Data/서울시 범죄율_강도.xlsx')
robbery

       구   행정동  레벨
0    강서구  가양1동   3
1    NaN  가양2동   3
2    NaN  가양3동   3
3    NaN   공항동   4
4    NaN  등촌1동   2
..   ...   ...  ..
421  NaN  중곡1동   1
422  NaN  중곡2동   1
423  NaN  중곡3동   1
424  NaN  중곡4동   2
425  NaN   화양동   3

[426 rows x 3 columns]

In [6]:
robbery['구'].fillna(method = 'ffill', inplace = True)
robbery.index = robbery['구'] + robbery['행정동']
robbery

           구   행정동  레벨
강서구가양1동  강서구  가양1동   3
강서구가양2동  강서구  가양2동   3
강서구가양3동  강서구  가양3동   3
강서구공항동   강서구   공항동   4
강서구등촌1동  강서구  등촌1동   2
...      ...   ...  ..
광진구중곡1동  광진구  중곡1동   1
광진구중곡2동  광진구  중곡2동   1
광진구중곡3동  광진구  중곡3동   1
광진구중곡4동  광진구  중곡4동   2
광진구화양동   광진구   화양동   3

[426 rows x 3 columns]

In [7]:
sexual = pd.read_excel('../Data/서울시 범죄율_성폭력.xlsx')
sexual['구'].fillna(method = 'ffill', inplace = True)
sexual.index = sexual['구'] + sexual['행정동']

In [8]:
murder = pd.read_excel('../Data/서울시 범죄율_살인.xlsx')
murder['구'].fillna(method = 'ffill', inplace = True)
murder.index = murder['구'] + murder['행정동']
murder

           구   행정동  레벨
강서구가양1동  강서구  가양1동   4
강서구가양2동  강서구  가양2동   4
강서구가양3동  강서구  가양3동   4
강서구공항동   강서구   공항동   5
강서구등촌1동  강서구  등촌1동   1
...      ...   ...  ..
광진구중곡1동  광진구  중곡1동   1
광진구중곡2동  광진구  중곡2동   1
광진구중곡3동  광진구  중곡3동   1
광진구중곡4동  광진구  중곡4동   1
광진구화양동   광진구   화양동   4

[426 rows x 3 columns]

In [10]:
matrix = pd.concat([robbery['레벨'], sexual['레벨'], murder['레벨']], axis = 1)
matrix.columns = ['robbery','sexual','murder']
matrix

         robbery  sexual  murder
강서구가양1동        3       5       4
강서구가양2동        3       5       4
강서구가양3동        3       5       4
강서구공항동         4       4       5
강서구등촌1동        2       4       1
...          ...     ...     ...
광진구중곡1동        1       2       1
광진구중곡2동        1       1       1
광진구중곡3동        1       2       1
광진구중곡4동        2       1       1
광진구화양동         3       5       4

[426 rows x 3 columns]

In [14]:
matrix['crime'] = (matrix['robbery']*0.2 + matrix['sexual']*0.3 + matrix['murder']*0.5) / 5
matrix

         robbery  sexual  murder  crime
강서구가양1동        3       5       4   0.82
강서구가양2동        3       5       4   0.82
강서구가양3동        3       5       4   0.82
강서구공항동         4       4       5   0.90
강서구등촌1동        2       4       1   0.42
...          ...     ...     ...    ...
광진구중곡1동        1       2       1   0.26
광진구중곡2동        1       1       1   0.20
광진구중곡3동        1       2       1   0.26
광진구중곡4동        2       1       1   0.24
광진구화양동         3       5       4   0.82

[426 rows x 4 columns]

In [15]:
matrix.to_csv('crime.csv')