### 유동인구

In [27]:
import pandas as pd
import numpy as np

people = pd.read_excel('../Data/density.xlsx')

In [28]:
people

    동별(2) 동별(3)   인구 (명)  면적 (㎢)  인구밀도 (명/㎢)
0      소계    소계  9667669  605.21       15974
1     종로구    소계   152211   23.91        6365
2     NaN   사직동     9355    1.23        7606
3     NaN   삼청동     2642    1.49        1773
4     NaN   부암동     9536    2.27        4201
..    ...   ...      ...     ...         ...
447   NaN  천호2동    33825    1.57       21545
448   NaN    길동    45374    1.61       28183
449   NaN   강일동    33057    2.26       14627
450   NaN  상일1동    39178    1.82       21526
451   NaN  상일2동    11933    1.09       10948

[452 rows x 5 columns]

In [31]:
people['동별(2)'].fillna(method = 'ffill', inplace = True)

In [33]:
people.index = people['동별(2)'] + people['동별(3)']

In [35]:
people.columns = ['dummy1','dummy2','pop','region','density']

In [39]:
people.iloc[:,-1].to_csv('../Data/popden.csv')