In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

matrix = pd.read_csv('../Data/Feature.csv', index_col = 0)
spread = pd.read_csv('../Data/house_spread.csv', index_col = 1)
build_year = pd.read_csv('../Data/built_year.csv', index_col = 0)

In [63]:
apt_buy_num = 31038
apt_rent_num = 266017
house_buy_num = 21185
house_rent_num = 129278

In [66]:
spread = spread['spread'].groupby(spread.index).mean()

In [67]:
matrix

,populaion,density,foreign_rate,bsc_lvlhood_ratio,avg_income_amt,elder_ratio,label
종로구사직동,9362.0,2.0,0.029160,0.027352,8.753692,0.203605,1.0
종로구삼청동,2576.0,2.0,0.116071,0.039929,8.612424,0.265542,0.0
종로구부암동,9377.0,2.0,0.028261,0.042151,8.567173,0.202824,1.0
종로구평창동,17658.0,2.0,0.010307,0.019975,9.026260,0.205252,0.0
종로구무악동,8015.0,3.0,0.003868,0.068439,8.381916,0.187718,1.0
...,...,...,...,...,...,...,...
강동구성내3동,22882.0,2.0,0.014116,0.066591,8.701282,0.189747,0.0
강동구둔촌1동,70.0,2.0,0.128571,0.026316,8.658970,0.161290,0.0
강동구둔촌2동,24169.0,2.0,0.004593,0.051893,8.658970,0.184433,0.0
강동구길동,45142.0,2.0,0.007399,0.074541,8.771733,0.198042,1.0
강동구강일동,32996.0,3.0,0.005607,0.170875,8.582021,0.186686,0.0

In [68]:
spread.index = spread.index.str.replace('제1','1').str.replace('제2','2').str.replace('제3','3').str.replace('제4','4').str.replace('제5','5').str.replace('제6','6').str.replace('제7','7').str.replace('제8','8')

In [69]:
spread

0
강남구개포1동    0.560650
강남구개포2동    0.573502
강남구개포3동    0.563563
강남구개포4동    0.560650
강남구논현1동    0.397695
             ...
중랑구상봉2동    0.213307
중랑구신내1동    0.327908
중랑구신내2동    0.327908
중랑구중화1동    0.346659
중랑구중화2동    0.346659
Name: spread, Length: 425, dtype: float64

In [73]:
build_year.index = build_year.region

In [74]:
build_year.index = build_year.index.str.replace('제1','1').str.replace('제2','2').str.replace('제3','3').str.replace('제4','4').str.replace('제5','5').str.replace('제6','6').str.replace('제7','7').str.replace('제8','8')

In [79]:
build_year = build_year.iloc[:,1:]

In [80]:
build_year

           build_year       year
region
강남구개포1동   2005.693380  17.306620
강남구개포2동   2005.693380  17.306620
강남구개포3동   2005.693380  17.306620
강남구개포4동   2005.693380  17.306620
강남구논현1동   2004.761554  18.238446
...               ...        ...
종로구청운효자동  2015.000000   8.000000
종로구혜화동    2013.500000   9.500000
종로구사직동    1997.333333  25.666667
중구광희동     2014.444444   8.555556
중구필동      2018.000000   5.000000

[638 rows x 2 columns]

In [82]:
build_year = build_year.groupby(build_year.index).mean()

In [83]:
build_year

          build_year       year
region
강남구개포1동  2005.693380  17.306620
강남구개포2동  2005.684593  17.315407
강남구개포3동  2003.058037  19.941963
강남구개포4동  2005.693380  17.306620
강남구논현1동  2004.761554  18.238446
...              ...        ...
중랑구상봉2동  2011.002488  11.997512
중랑구신내1동  2003.264221  19.735779
중랑구신내2동  2003.264221  19.735779
중랑구중화1동  2007.285917  15.714083
중랑구중화2동  2007.285917  15.714083

[425 rows x 2 columns]

In [84]:
matrix_new = pd.concat([matrix.iloc[:,:-1], spread, build_year['year'], matrix.iloc[:,-1]], axis = 1, join='outer')
matrix_new.columns = ['populaion', 'density','foreign_rate','bsc_lvlhood_ratio','avg_income_amt','elder_ratio','spread','built_year','label']

In [85]:
matrix_new

,populaion,density,foreign_rate,bsc_lvlhood_ratio,avg_income_amt,elder_ratio,spread,built_year,label
종로구사직동,9362.0,2.0,0.029160,0.027352,8.753692,0.203605,-inf,26.422436,1.0
종로구삼청동,2576.0,2.0,0.116071,0.039929,8.612424,0.265542,NaN,NaN,0.0
종로구부암동,9377.0,2.0,0.028261,0.042151,8.567173,0.202824,-0.416352,26.440842,1.0
종로구평창동,17658.0,2.0,0.010307,0.019975,9.026260,0.205252,0.341060,21.872493,0.0
종로구무악동,8015.0,3.0,0.003868,0.068439,8.381916,0.187718,0.289968,22.173438,1.0
...,...,...,...,...,...,...,...,...,...
강동구상일1동,NaN,NaN,NaN,NaN,NaN,NaN,0.548630,9.331849,NaN
강동구상일2동,NaN,NaN,NaN,NaN,NaN,NaN,0.548630,9.331849,NaN
성북구장위3동,NaN,NaN,NaN,NaN,NaN,NaN,0.417259,8.044019,NaN
송파구잠실4동,NaN,NaN,NaN,NaN,NaN,NaN,0.527334,23.267580,NaN
송파구잠실6동,NaN,NaN,NaN,NaN,NaN,NaN,0.527334,23.267580,NaN

In [86]:
matrix_new.spread = matrix_new.spread.fillna(matrix_new.spread.mean())
matrix_new.spread[matrix_new.spread == -np.inf] = np.nan
matrix_new.spread = matrix_new.spread.fillna(matrix_new.spread.mean())

In [87]:
matrix_new.built_year = matrix_new.built_year.fillna(matrix_new.built_year.mean())
matrix_new.built_year[matrix_new.built_year == -np.inf] = np.nan
matrix_new.built_year = matrix_new.built_year.fillna(matrix_new.built_year.mean())

In [88]:
matrix_new

,populaion,density,foreign_rate,bsc_lvlhood_ratio,avg_income_amt,elder_ratio,spread,built_year,label
종로구사직동,9362.0,2.0,0.029160,0.027352,8.753692,0.203605,0.402121,26.422436,1.0
종로구삼청동,2576.0,2.0,0.116071,0.039929,8.612424,0.265542,0.402121,17.832706,0.0
종로구부암동,9377.0,2.0,0.028261,0.042151,8.567173,0.202824,-0.416352,26.440842,1.0
종로구평창동,17658.0,2.0,0.010307,0.019975,9.026260,0.205252,0.341060,21.872493,0.0
종로구무악동,8015.0,3.0,0.003868,0.068439,8.381916,0.187718,0.289968,22.173438,1.0
...,...,...,...,...,...,...,...,...,...
강동구상일1동,NaN,NaN,NaN,NaN,NaN,NaN,0.548630,9.331849,NaN
강동구상일2동,NaN,NaN,NaN,NaN,NaN,NaN,0.548630,9.331849,NaN
성북구장위3동,NaN,NaN,NaN,NaN,NaN,NaN,0.417259,8.044019,NaN
송파구잠실4동,NaN,NaN,NaN,NaN,NaN,NaN,0.527334,23.267580,NaN
송파구잠실6동,NaN,NaN,NaN,NaN,NaN,NaN,0.527334,23.267580,NaN

In [89]:
# matrix_new.to_csv('../Data/feature_matrix.csv')