### Private Income Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
income = pd.read_csv('../Data/private_income.csv')[:730]

In [19]:
income

,adstrd_nm,adstrd_cd,legaldong_nm,legaldong_cd,tot_po,tot_hshld_co,hshld_per_po,ave_income_amt
0,서울특별시 종로구 청운효자동,1111051500,청운동,1111010100,11680,4715,2.48,9049.02
1,서울특별시 종로구 청운효자동,1111051500,신교동,1111010200,11680,4715,2.48,5544.59
2,서울특별시 종로구 청운효자동,1111051500,궁정동,1111010300,11680,4715,2.48,7078.69
3,서울특별시 종로구 청운효자동,1111051500,효자동,1111010400,11680,4715,2.48,5403.79
4,서울특별시 종로구 청운효자동,1111051500,창성동,1111010500,11680,4715,2.48,5345.71
...,...,...,...,...,...,...,...,...
725,서울특별시 강동구 성내2동,1174065000,성내동,1174010800,24026,11954,2.01,6010.61
726,서울특별시 강동구 성내3동,1174066000,성내동,1174010800,22682,9716,2.33,6010.61
727,서울특별시 강동구 길동,1174068500,길동,1174010500,44791,19714,2.27,6449.34
728,서울특별시 강동구 둔촌1동,1174069000,둔촌동,1174010600,36,14,2.57,5761.60
729,서울특별시 강동구 둔촌2동,1174070000,둔촌동,1174010600,26071,10041,2.60,5761.60

In [20]:
income.index = income.adstrd_nm.str.replace('서울특별시','').str.replace(' ','')

서울특별시 : 729까지 있음

617 : 경기도 양주시

In [24]:
income['find'] = income.index

In [26]:
income_new = income.groupby('find')['ave_income_amt'].mean()

In [27]:
income_new

find
강남구개포1동     8492.840
강남구개포2동     9551.995
강남구개포4동     8492.840
강남구논현1동    13078.130
강남구논현2동    13078.130
             ...
중랑구상봉2동     3987.760
중랑구신내1동     3837.790
중랑구신내2동     3837.790
중랑구중화1동     3967.030
중랑구중화2동     3967.030
Name: ave_income_amt, Length: 424, dtype: float64